<div class="jumbotron bg-white text-center">
    <h1 class="display-4">Corona Covid-19 Tracker</h1>
  <hr>
    <p class="lead">
        The country has responded well in many regards, especially for such a large and diverse nation. India instigated a national lockdown in March, which was praised by WHO. During the lockdown period, tertiary care provision was increased, including access to specialist equipment such as ventilators.
    </p>
    <hr class="my-4">
    <p>The lockdown created a parallel crisis for many people as income fell dramatically, hunger increased, and many migrant workers walked long distances home. India's GDP was already decreasing before COVID-19 but the contraction of almost 25% year on year in the quarter April to June could make India one of the worst affected countries economically. As the outbreak has spread from its initial foothold in cities to smaller urban areas and villages, pre-existing disparities in health-care provision have become increasingly relevant</p>
    
</div>